<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel='stylesheet' href='/css/jass.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/style.css'>
</head>

<body>
    <header class="navbar navbar-dark bg-dark header-container">
        <h1 class='header-title'> The Tech Blog</h1>
        <nav class='nav-container'>
            <a class='header-text' href='/'>Home</a>
            <a class='header-text' href='/dashboard'>Dashboard</a>
            {{#if logged_in}}
            <button class='header-text' id="logoutBtn">Logout</button>
            {{else}}
            <a class='header-text' href='/login'>Login</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>

    {{#if logged_in}}
    <script src='/js/logout.js'></script>
    {{/if}}
</body>

</html>