{{#each blogs as |blog|}}
<div class="card">
    <h2 class="card-header">{{blog.title}}</h2>
    <div class="card-body">
        <p class="card-text">{{blog.text}}</p>
        <a href="/blog/{{blog.id}}" class="btn btn-primary">add a comment</a>
    </div>
</div>
{{/each}}


<div class="blog-btn-container">
    <button id='new-blog-btn' type="button" class="btn btn-primary blog-btn"> + add
        a blog </button>

    <div id='form-container' class='form-container hidden'>
        <form action="" class="create-blog-form">
            <label for='title'>Title:</label>
            <input class="form-control form-control-lg" type="text"
                placeholder="enter a title for your blog post here...">
            <label for='blogContent'>Blog Post:</label>
            <div class='form-group'>
                <textarea name='new-blog' rows='7' class='form-control' placeholder='what would you like to say?'></textarea>
            </div>
            <div class='btn-container'>
            <input type="submit" value='Submit' class='btn btn-primary blog-btn'>
            <button id='close-form-btn' type="button" class="btn btn-primary blog-btn"> Cancel </button>
            </div>
        </form>
    </div>
</div>

<script src="/js/homepage.js"></script>