<div class="card">
    <h2 class="card-header">Login here!</h2>
    <div class="card-body">
        <form action="" class="create-blog-form">
            <label for='title'>Username:</label>
            <input id='username-login' class="form-control form-control-lg" type="text">
            <label for='blogContent'>Password:</label>
            <input id='password-login' class="form-control form-control-lg" type="text"> </br> 
            <button id='loginBtn' type="button" class="btn btn-primary blog-btn"> Login </button>
        </form>
    </div>
</div>
</br>
<div>
    <h1>OR</h1>
</div>
</br> 
<div class="card">
    <h2 class="card-header">Don't have an account yet? Sign up here!</h2>
    <div class="card-body">
        <form action="" class="create-blog-form">
            <label for='title'>Username:</label>
            <input id='username-signup' class="form-control form-control-lg" type="text">
            <label for='blogContent'>Password:</label>
            <input id='password-signup' class="form-control form-control-lg" type="text"> </br> 
            <button id='signupBtn' type="button" class="btn btn-primary blog-btn"> Signup </button>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>